<div growl></div>
<div>
    <div class="span5" style="padding-top: 5%; padding-left: 32%;">
        <form class="form-signin" >
            <h2 class="form-signin-heading" >LOGIN</h2>
            <h2 class="form-signin-heading" >Project Lunar</h2>
            <input type="text" class="input-block-level" data-ng-model="login.username"   placeholder="Username">
            <input type="password" class="input-block-level"  data-ng-model="login.password" placeholder="Password">
            <button type="submit" data-ng-click="cekLogin()" class="btn"> <img data-ng-show="loading" src="image/ajax-loader.gif"> <p data-ng-hide="loading">Sign in</p></button>
        </form>
    </div>
</div>